<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/blog.controller.js"></script>
</head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body ng-app="blog.controller">
<div class="container" ng-controller="BlogController">
    <div ng-repeat="post in posts">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{post.post.title}}</h4></div>
            <div class="panel-body">
                {{post.post.text}}
                {{post.post.id}}
            </div>
            <div class="panel-footer" ng-repeat="comment in post.comments"><h4>
                comments suka
                <span class="group-btn">
                    <input type="text" id="newComment" class="form-control input-sm chat-input" placeholder="comment"/>
                    <button class="btn btn-success" type="button" data-dismiss="modal" ng-click="addComment(post.post.id)">Send</button>
                </span>
            </h4></div>
        </div>
    </div>
    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal" style="position: inherit; right: 10px; top: 10px;">add post</button>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title">New post from {{user}}</h4>
                </div>
                <div class="modal-body">
                    title
                    <input type="text" id="newPostTitle" class="form-control input-sm chat-input" placeholder="post title"/>
                    <br>
                    <textarea id="newPostBody" placeholder="post body" warp="soft" rows="5" style="width: 100%; border-radius: 5px" maxlength="100%"></textarea>
                </div>
                    <div class="modal-footer">
                        <span class="group-btn">
                            <button class="btn btn-success" type="button" data-dismiss="modal" ng-click="addPost()">Сохранить</button>
                            <button class="btn btn-error" type="button" data-dismiss="modal">Закрыть</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>